@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Color scheme
    Cerulean: #4484CE
    Aluminium: #D9D9D9
    Light: #F9CF00
    Tangerine: #F19F4D
*/
/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-symbols-outlined.md-48 {
    font-size: 48px
}

* {
    font-family: 'Raleway', sans-serif;
}
body{
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.control-bar {
    display: flex;
    width: 100%;
    gap: 1rem;
}
.content{
    flex: 1;
    background-color: #D9D9D9;
}
.project{
    height: 300px;
    width: 300px;
    background-color: white;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    
}
.project-priority{
    background-color: #F19F4D;
    border-radius: .5rem;
}
.project-ctrl{
    display: flex;
    align-items: center;
    padding: .8rem;
    gap: .3rem;
}